
doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title
            | Form
        script.
            /****************************************************************************/
            /* Function that performs (asynchronous) query to the web server using AJAX */
            /****************************************************************************/
            function requestAJAX() {
                //-----------------------------------------------
                // Create an object representing the request to the web server — see https://developer.mozilla.org/docs/Web/API/XMLHttpRequest
                //-----------------------------------------------
                const xhr = new XMLHttpRequest();

                //-----------------------
                // Observers registration
                //-----------------------

                // If the request was successful
                xhr.addEventListener("load", function (evt) {
                    if (xhr.status === 200) {
                        window.alert(xhr.response);
                        console.log(xhr.response);
                    }
                });

                // If the request failed
                xhr.addEventListener("error", function (evt) {
                    window.alert('There was a problem with this request.');
                });

                //--------------------------------------------------------------------------
                // Configuration and execution of the (asynchronous) query to the web server
                //--------------------------------------------------------------------------

                //****************************************************************
                // Type of data received by the 'load' observer - default - 'text'
                //****************************************************************
                // Uncomment one of the lines below
                //*********************************
                // xhr.responseType ='json';
                // xhr.responseType ='document';

                xhr.open('GET', '/submit', true);

                //****************************************************************************************
                // What is the acceptable data type - the server part should return data of the given type
                // Default value: '*/*'
                //****************************************************************************************
                // Uncomment one of the lines below
                //*********************************
                // xhr.setRequestHeader('Accept', 'application/json');
                // xhr.setRequestHeader('Accept', 'application/xml');

                xhr.send(null);
            }

            /*********************************************************************************/
            /* Function that performs (asynchronous) query to the web server using Fetch API */
            /*********************************************************************************/
            function requestFetchAPI() {
                fetch('/submit', {
                    headers: {
                        //****************************************************************************************
                        // What is the acceptable data type - the server part should return data of the given type
                        // Default value: '*/*'
                        //****************************************************************************************
                        // Uncomment one of the lines below
                        //*********************************
                        // 'Accept': 'application/json'
                        // 'Accept': 'application/xml'
                    }
                }) // Execution of the (asynchronous) query to the web server — a promise is created
                .then(function (response) { // if the promise is fulfilled
                    if (!response.ok)
                        throw Error(response.statusText);
                    if (response.headers.get("Content-Type") !== 'application/json') {
                        // If the received data is plain text or an XML document

                 
                        const result = response.text();
                        async function getContent(){
                           let a = await result
                           console.log('async a: ' + a)
                           window.alert(a)
                        }
                        getContent()
                        //- console.log('a: ' + a)
                        // show the Promise object
                        console.log(result);
                    }
                    else {
                        //If the received data is a JSON document
                        const result = response.json();
                        window.alert(result); // show the Promise object
                        console.log(result);
                    }
                })
                .catch(function (error) { // if the promise is rejected
                    window.alert(error);
                });
            }

            function getAJAX() {
                const xhr = new XMLHttpRequest();
                console.log('Wchodzi tutaj')
                let imie = document.getElementsByName('imie')[0].value

                xhr.addEventListener("load", function (evt) {
                    console.log('xhr.status: ' + xhr.status)
                    if (xhr.status === 200) {
                        window.alert(decodeURIComponent(xhr.response));
                        console.log(xhr.response);
                    }
                });

                xhr.addEventListener("error", function (evt) {
                    window.alert('There was a problem with this request.');
                });
                xhr.open('GET', '/submit?imie=' + encodeURIComponent(imie), true);

                xhr.send(null);
            }

            function postAJAX() {

                const xhr = new XMLHttpRequest();
                console.log('Wchodzi tutaj')
                let imie = document.getElementsByName('imie')[0].value

                //- xhr.addEventListener("load", function (evt) {
                //-     console.log('xhr.status: ' + xhr.status)
                //-     if (xhr.status === 200) {
                //-         window.alert(xhr.responseText);
                //-         console.log(xhr.response);
                //-     }
                //- });

                xhr.onreadystatechange = function() {
                    console.log('Początek onreadystatechange')
                    if (this.readyState == 4 && this.status == 200) {
                        console.log('Jestem tutaj')
                        console.log('this.responseText: ' + this.responseText)
                        window.alert(decodeURIComponent(xhr.response));
                    }   
                };

                xhr.addEventListener("error", function (evt) {
                    window.alert('There was a problem with this request.');
                });

                xhr.open('POST', '/submit', true);
                xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');

                xhr.send(`imie=${encodeURIComponent(imie)}`)
                //- xhr.send("fname=Henry&lname=Ford") 
            }

            function getFetchAPI() {
                console.log('Zaczynam getFetchAPI')
                let imie = document.getElementsByName('imie')[0].value

                var headers = new Headers({'Content-Type': 'application/x-www-form-urlencoded'});
                 
                var myRequest = new Request({headers: headers});

                fetch('/submit?imie=' + encodeURIComponent(imie), myRequest) // Execution of the (asynchronous) query to the web server — a promise is created
                .then(function (response) { // if the promise is fulfilled
                    if (!response.ok)
                        throw Error(response.statusText);
                    if (response.headers.get("Content-Type") !== 'application/json') {
                        // If the received data is plain text or an XML document

                 
                        const result = response.text();
                        async function getContent(){
                           let a = await result
                           console.log('async a: ' + a)
                           window.alert(a)
                        }
                        getContent()
                        //- console.log('a: ' + a)
                        // show the Promise object
                        console.log(result);
                    }
                    else {
                        //If the received data is a JSON document
                        const result = response.json();
                        window.alert(result); // show the Promise object
                        console.log(result);
                    }
                })
                .catch(function (error) { // if the promise is rejected
                    window.alert(error);
                });
            }

            function postFetchAPI() {
                console.log('Zaczynam postFetchAPI')
                let imie = document.getElementsByName('imie')[0].value
                var headers = new Headers({'Content-Type':'application/x-www-form-urlencoded'});

                fetch('/submit', {method: 'POST', body: 'imie=' + encodeURIComponent(imie), headers: {'Content-Type':'application/x-www-form-urlencoded'}}) // Execution of the (asynchronous) query to the web server — a promise is created
                .then(function (response) { // if the promise is fulfilled
                    if (!response.ok)
                        throw Error(response.statusText);
                    if (response.headers.get("Content-Type") !== 'application/json') {
                        // If the received data is plain text or an XML document

                 
                        const result = response.text();
                        async function getContent(){
                           let a = await result
                           console.log('async a: ' + a)
                           window.alert(decodeURIComponent(a))
                        }
                        getContent()
                        //- console.log('a: ' + a)
                        // show the Promise object
                        console.log(result);
                    }
                    else {
                        //If the received data is a JSON document
                        const result = response.json();
                        window.alert(result); // show the Promise object
                        console.log(result);
                    }
                })
                .catch(function (error) { // if the promise is rejected
                    window.alert(error);
                });
            }


    body
        main
            form
                textarea#namearea(name='imie' rows='4' cols='50' placeholder='Enter the your name')
                br
                input(type='button' value='AJAX (GET)' onclick='getAJAX()')
                input(type='button' value='AJAX (POST)' onclick='postAJAX()')
                input(type='button' value='FetchAPI (GET)' onclick='getFetchAPI()')
                input(type='button' value='FetchAPI (POST)' onclick='postFetchAPI()')


            form(method='get' action='/submit')
                label
                    | Perform a query to the web server with the
                    strong GET
                    |  method
                input(type='submit' value='Without using AJAX or Fetch API')
                input(type='button' value='Using AJAX' onclick='requestAJAX()')
                input(type='button' value='Using Fetch API' onclick='requestFetchAPI()')

